body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.teste {
  background-color: aquamarine;
}

.maincol {
  background-color: rgba(0, 89, 255, 0.644);
  border-radius: 20px;
}

.mybox {
  margin: 15px;
}

.commomMargin {
  margin: 15px;
}

.myMessage {
  max-width: 25%;
  margin: auto;
  text-align: left;
}

.leftalign {
  display: flex; /* Use display flex para habilitar flexbox */
  justify-content: flex-start; /* Ajusta o alinhamento horizontal para a esquerda */
  align-items: flex-start;
}


.meuTexto::before {
  content: attr(data-link); /* Usa o atributo data-link para simular o texto do link */
  display: inline; /* Exibe o link como parte do conteúdo */
  color: blue; /* Cor do link */
  text-decoration: underline; /* Adiciona sublinhado para parecer um link */
  cursor: pointer; /* Mostra o cursor como o de um link */
}

.meuTexto::before:hover {
  text-decoration: none; /* Remove sublinhado ao passar o mouse */
}
